:root {
    --font-size: 24px;
    --strong-cyan: hsl(172, 67%, 45%);
    --Very-dark-cyan: hsl(183, 100%, 15%);
    --Dark-grayish-cyan: hsl(186, 14%, 43%);
    --Dark-grayish-cyan-2: hsl(184, 14%, 56%);
    --Light-grayish-cyan: hsl(185, 41%, 84%);
    --Light-grayish-cyan-2: hsl(189, 41%, 97%);
    --White: hsl(0, 0%, 100%);
}

html,
body {
    font-family: 'Space Mono', monospace;
    font-weight: 700;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: var(--Light-grayish-cyan);
    color: var(--Dark-grayish-cyan);
}

*,
*::before,
*::after {
    box-sizing: border-box;
    font-family: 'Space Mono', monospace;
}

input {
    width: 100%;
    font-size: var(--font-size);
    font-weight: 700;
}

input:focus {
    outline: none;
}

[type="radio"]:checked,
[type="radio"]:not(:checked) {
    position: absolute;
    left: -99999px;
    width: 0;
    height: 0;
    visibility: hidden;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2.5rem;
}

main {
    background-color: var(--White);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    padding: 1rem 2rem;
    padding-bottom: 2rem;
    transition: all 0.07s;
}

/*

*/
.inputs {
    margin-bottom: 2rem;
}

.inputs>label {
    display: block;
    margin-bottom: .2rem;
}

.inputs>span {
    position: relative;
    display: flex;
    justify-content: center;
    border-radius: 4px;
    background-color: var(--Light-grayish-cyan-2);
    padding: .15rem 1rem;
}

.inputs>span>input {
    background-color: transparent;
    border: none;
    text-align: right;
    color: var(--Very-dark-cyan);
}

.inputs>span>img {
    display: flex;
    align-items: center;
    width: 1rem;
    height: 1rem;
    align-self: center;
}

.tip-input {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
}

.checkbox-tip:checked+label,
.checkbox-tip:not(:checked)+label {
    position: relative;
    display: inline-block;
    padding: .25rem;
    width: 100%;
    font-size: var(--font-size);
    text-align: center;
    border-radius: 4px;
    transition: all 0.07s linear;
}

.checkbox-tip:not(:checked)+label {
    background-color: var(--Very-dark-cyan);
    color: var(--White);
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
}

.checkbox-tip:checked+label {
    background-color: var(--Dark-grayish-cyan-2);
    color: var(--Very-dark-cyan);
    ;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.checkbox-tip:not(:checked)+label:hover {
    background-color: var(--Light-grayish-cyan);
    color: var(--Very-dark-cyan);
}

.checkbox-budget:checked+label span,
.checkbox-budget:not(:checked)+label span {
    position: relative;
    display: block;
}

.tip-custom {
    background-color: var(--Light-grayish-cyan-2) !important;
}

#custom {
    background-color: transparent;
    color: var(--Very-dark-cyan);
    border: none;
    text-align: center;
    z-index: -1;
}

/*
*/


.total {
    background-color: var(--Very-dark-cyan);
    color: var(--strong-cyan);
    border-radius: 1rem;
    padding: 1rem;
}

.amount {
    margin: 1rem 0;
    display: flex;
    justify-content: space-between;
}

.label {
    display: flex;
    flex-direction: column;
    font-size: 70%;
}

.label-head {
    color: var(--White);
}

.price {
    align-self: center;
    font-size: var(--font-size);
}

.btn {
    width: 100%;
    padding: 1rem;
    font-size: var(--font-size);
    font-weight: 700;
    background-color: var(--strong-cyan);
    color: var(--Very-dark-cyan);
    border: none;
    border-radius: 5px;
    text-transform: uppercase;
    cursor: pointer;
}

.btn:hover {
    background-color: var(--Light-grayish-cyan);
}

.focused_span {
    border: solid 2px var(--Dark-grayish-cyan-2);
}

.cant_be_zero_span {
    border: solid 2px red;
}

.labels {
    display: flex;
    justify-content: space-between;
}

.cant_be_zero {
    font-size: small;
    align-self: flex-end;
    color: red;
    display: none;
}

@media (min-width : 375px) {
    main {
        width: 95%;
        margin: 0 auto;
        border-radius: 20px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 2rem;
        padding: 2rem;
    }

    .inputs:last-of-type {
        margin-bottom: 1rem;
    }

    .total {
        display: flex;
        flex-direction: column;
    }

    .btn {
        margin-top: auto;
    }
}

@media (min-width : 768px) {
    main {
        width: 80%;
    }

    .tip-input {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (min-width : 1000px) {
    main {
        width: 800px;
    }
}